* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.no-cliente {
  background-color: black;
  color: white!important;
  width: 100%;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
} p {
  text-align: center;
}

.bienvenida {
  display: flex;
  flex-direction: column;

}

.links {
  display: none;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#formulario {
  padding-top: 3rem;
  text-align: -webkit-center;
}

.form {
  margin-bottom: .5rem;
  display: flex;
  flex-direction: column;
}
.displayNone {
  display: none;
}

.pedirNombre {
  color: white;
}
.fondoAzul {
  background-color: blue;
}

#body {
  display: grid;
  width: 100%;
  height: 250px;
  grid-template-areas: "header nav nav"
 "main main main";
  grid-template-columns: 6fr 2fr; }
  body header {
    grid-area: header;
    background-color: cyan; }
  body nav {
    grid-area: nav;
    background-color: blue; }
  body main {
    grid-area: main;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;}
    body main div p {
      font-size: 2rem; }
    body main .consultaClases {
      display: flex;
      align-content: center;
      flex-direction: row;
      padding-top: 2rem;
      justify-content: space-around; }
      body main .consultaClases a {
        text-decoration: none; }
        body main .consultaClases a .consultaDias {
          background-color: grey;
          border: 1px solid black;
          padding: 1rem;
          text-decoration: none;
          border-radius: 1rem 1px;
          color: whitesmoke;
          font-size: 1.5rem; }
      body main .consultaClases a {
        text-decoration: none; }
        body main .consultaClases a .calcularArancel {
          background-color: grey;
          border: 1px solid black;
          padding: 1rem;
          text-decoration: none;
          border-radius: 1rem 1px;
          color: whitesmoke;
          font-size: 1.5rem; }
  body a {
    text-decoration: none; }
    body a .consultaDias {
      background-color: grey;
      border: 1px solid black;
      padding: 1rem;
      text-align: center;
      text-decoration: none;
      border-radius: 1rem 1px;
      color: whitesmoke;
      font-size: 1.5rem;
      text-align: center; }

      .visualPorDia {
        text-align: center;
        background-color: grey;
        border: 1px solid black;
        padding: 1rem;
        text-decoration: none;
        border-radius: 1rem 1px;
        color: whitesmoke;
        font-size: 1.5rem;
      }

      /*calculo de arancel*/

      .calculoArancel {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .diasParaArancel {
        width: 30%;
      }

      #botonCalcular {
        width: 4rem;
      }